* {
  margin: ;
  box-sizing: border-box;
}

/* CLASSI UTILITY */

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

/* /CLASSI UTILITY */

.container {
  text-align: center;
  margin: 3%;
}

div.container > :first-child {
  margin-bottom: 2%;
}

.products-row {
  display: inline-block;
}

.products-row:hover {
  cursor: pointer;
}

.product {
  display: inline-block;
  position: relative;
  width: 300px;
}

.discount {
  position: absolute;
  right: 0;
  top: 0;
}

i {
  position: absolute;
  bottom: 4%;
  right: 50%;
  color: red;
  display: none;
}

.product:hover i {
  display: block;
}
