/* RICORDATI DI CAMBIARE IL CURSORE QUANDO PASSI SUI DIV */
.container {
text-align: center;
margin: 3%;
}

div.container > :first-child {
  margin-bottom: 2%;
}

.products-row {
  display: inline-block;
}

.products-row:hover {
  cursor: pointer;
}

.product {
  display: inline-block;
  position: relative;
  width: 300px;
}

.discount {
  position: absolute;
  right: 0;
  top: 0;
}

.discount.bg-green {
  background-color: green;
}

.discount.bg-red {
  background-color: red;
}

i {
  position: absolute;
  bottom: 4%;
  right: 50%;
  color: red;
  display: none;
}

.product:hover i {
  display: block;
}
